<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>user view</title>
<script> </script>

</head>
<body>
	<p>To edit your profile, enter your username and password here</p>
	<p>To sign up for email notifications, click the button</p>
	{{{body}}}
</body>
</html>