* {
  box-sizing: border-box;
}

.page {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}



/* Non-mobile, grid */
@media screen and (min-width: 320) and (max-width: 480px) {
   

  h1 {
    font-size: .1em;
    text-overflow: scroll;
  }
  
  .notifyContainer {
    max-width: 100%;
  }
  .updateContainer {
    max-width: 100%;
  }
  .deleteContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    body {
    text-overflow: scroll;
  }
  h1 {
    font-size: 1%;
    text-overflow: scroll;
  }
  h2 {
    font-size: 2%;
    text-overflow: scroll;
  }
  h3 {
    font-size: 1%;
    text-overflow: scroll;
  }
  input {
    font-size: 8%;
    text-overflow: scroll;
  }
  button {
    font-size: 6%;
  }
   .notifyContainer {
    max-width: 100%;
  }
  .updateContainer {
    max-width: 100%;
  }
  .deleteContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024) and (min-width: 769px) {
 body {
    text-overflow: scroll;
  }
 
  h1 {
    font-size: 1%;
    text-overflow: scroll;
  }
  h2 {
    font-size: 3%;
    text-overflow: scroll;
  }
  h3 {
    font-size: 2%;
    text-overflow: scroll;
  }
  input {
    font-size: 9%;
    text-overflow: scroll;
  }
  button {
    font-size: 1%;
  }
}

@media screen and (min-width: 1025px) {
 body {
    text-overflow: scroll;
  }
 
  h1 {
    font-size: 1%;
    text-overflow: scroll;
  }
  h2 {
    font-size: 3%;
    text-overflow: scroll;
  }
  h3 {
    font-size: 2%;
    text-overflow: scroll;
  }
  input {
    font-size: 9%;
    text-overflow: scroll;
  }
  button {
    font-size: 1%;
  }
}
