* {
  box-sizing: border-box;
}

body {
  color: white;
  text-align: center;
  font-family: 'Rock Salt';
  font-size: .5em;
  word-spacing: 4px;
}

#landing_page {
  max-width: 75%;
  margin: 5px auto;
  padding: 15px;
  background-color: #99a2af;
}

.artist_results_page {
  transition outline-color: invert;
  transition: margin bottom 1s;
  border-radius: 6px;
  max-width: 70%;
  padding: 10px;
  font-weight: 900;
  border: 2px solid #007fAA;
  margin: 20px auto;
  background-image: url("img/g.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  color: black;
}

.event_results_page {
  transition: margin bottom 1s;
  outline-color: invert;
  border-radius: 6px;
  max-width: 70%;
  padding: 10px;
  border: 2px solid #007fAA;
  margin: 20px auto;
  background-image: url("img/g.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  color: black;
}


.sign_up_page {
  transition: margin bottom 1s;
  background-color: black;
  max-width: 70%;
  margin: 0px auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 7px;
}

.sign_in_page {
  transition: margin bottom 1s;
  background-color: black;
  max-width: 70%;
  margin: 0px auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
}

.profile_page {
 background-color: lightgrey;
  max-width: 70%;
  display: inline-block;
  border: 2px solid #007fAA;
  border-radius: 6px;
  box-shadow: 10px 10px 5px black;
  padding-left: 10px;
  padding-right: 10px;
}

div {
  margin: 3% auto;
}

li {
  list-style: none;
  color: lightblue;
  font-size: 1.5em;
  font-weight: 800;
}

h1 {
  background: url("img/show.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-bottom: 50px;
  font-weight: 950;
  font-size: 9em;
  color: black;
  text-shadow: 4px 4px #FEFE33;
  border: 2px ridge white;
  border-radius: 9px;
  max-width: 85%;
  margin: 0px auto;
  font-family: "The Frontman";
  box-shadow: 20px 20px black;
}

h2 {
  font-size: 3em;
  margin: 0px auto;
  color: #FEFE33;
  text-shadow: 3px 3px black;
  word-spacing: .5em;
  max-width: 80%;
  font-weight: 900;
}

h3 {
  padding: 5px;
  font-size: 1.8em;
  color: black;
  font-weight: 900;
}

h4 {
  font-size: 2em;
  text-shadow: 2px 2px black;
  font-weight: 800;
  border: none;
  color: #FEFE33;
}

h5 {
  padding: 5px;
  font-size: 2em;
  color: white;
  font-weight: 900;
}

p {
  word-spacing: .5em;
  font-size: 3em;
  font-weight: bold;
  color: lightblue;
  max-width: 80%;
  margin: 10px auto;
}

.border {
  background-color: black;
  max-width: 80%;
  box-shadow: 15px 15px 10px black;
  padding-bottom: 50px;
  border: 2px solid white;
  border-radius: 8px;
}

.crowdWalk {
  background-image: url("img/legGrabColor copyIt.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  max-width: 80%;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 20px 20px 10px black;
  padding: 7px;
}

.labelTwo {
  font-size: 2em;
  font-weight: 800;
  color: black;
  text-shadow: 2px 2px #FEFE33;
}

.labelOne {
  font-size: 2em;
  font-weight: 800;
  color: #FEFE33;
  text-shadow: 2px 2px black;
}

input {
  background-color: lightgrey;
  font-size: 3em;
  padding: 5px;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  max-width: 80%;
  margin: 0px auto;
  box-shadow: 5px 5px black;
  font-weight: 900;
}

input:hover {
  background-color: black;
  color: white;
  -webkit-transition: background-color .7s ease-out;
  -moz-transition: background-color .7s ease-out;
  -o-transition: background-color .7s ease-out;
  transition: background-color .7s ease-out;
}

.buttonOne {
  font-size: 1.4em;
  border-radius: 6px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 5px 5px black;
  padding: 8px;
  cursor: pointer;
  margin-top: 4px;
}

.buttonOne:hover {
  background-color: black;
  color: white;
  -webkit-transition: background-color .7s ease-out;
  -moz-transition: background-color .7s ease-out;
  -o-transition: background-color .7s ease-out;
  transition: background-color .7s ease-out;
}

.inputContainer {
  opacity: .9;
  background-color: lightgrey;
  max-width: 75%;
  display: inline-block;
  border: 2px solid #FEFE33;
  border-radius: 6px;
  box-shadow: 10px 10px 5px black;
  padding-left: 7px;
  padding-right: 7px;
  color: white;
  margin-top: 25%;
}

.boxes {
  margin-left: 10%;
  margin-right: 10%;
}

.resultsContainer {
  border: 2px solid white;
  max-width: 80%;
  color: white;
  background-color: black;
  border-radius: 7px;
}

.outer {
  border-radius: 6px;
  max-width: 80%;
  font-weight: 900;
  border: 2px solid white;
  margin: 10px auto;
  background-image: url("img/sk.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  color: black;
}

.notifyContainer {
  max-width: 30%;
   background-image: url("img/lighters.jpeg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 10px 10px 5px black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20%;
}

.updateContainer {
  transition: margin bottom 1s;
   background-image: url("img/pexels-photo-167478 copy.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  max-width: 30%;
  display: inline-block;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 10px 10px 5px black;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10% 10%;
}

.deleteContainer {
   max-width: 30%;
  transition: margin bottom 1s;
  background-image: url("img/mic_Fotor.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: 10px 10px 5px black;
}