
* {
  box-sizing: border-box;
}

body {
   background: url("img/pexels-photo-154147 copy 2.jpeg") #cdd1d3 top no-repeat fixed;
    color: white;
   text-align: center;
   font-family:'Shadows Into Light', cursive;
}

 h1 {
   font-weight: 800;
   font-size: 6em;
   text-shadow: 2px 2px black;
 }

p {
  font-size: 1.5em;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 1.5px lightblue;
  font-weight: bold;
}

h2 { 
  font-size: 3em; 
  text-shadow: 2px 2px black;
}

h3 {
  font-size: 3em;
  text-shadow: 2px 2px black;
}

h4 {
  font-size: 2.5em;
  text-shadow: 2px 2px black;
}

div {
  margin-left: auto;
  margin-right: auto;
  /*display: inline-block;*/
  border-radius: 6px;
}

 label {
  font-size: 25px;
  text-shadow: 1px 1px lightblue;
 }
 
 button {
   font-size: 18px;
   border-radius: 3px;
   background-color: lightgrey;
   border: 1px solid grey;
   box-shadow: 2px 2px lightblue;
   cursor: pointer;
 }
 
 button:hover {
   background-color: lightblue;
 }
 
 button:active {
   box-shadow: 2px 2px white;
 }
 
.inputContainer {
  background: url("img/0f71d0be5bcd6d09641e77c8200139a9--wallpaper-free-wallpaper-desktop.jpg") top no-repeat fixed;
  max-width: 25%;
  display: inline-block;
  border: 5px ridge lightblue;
  border-radius: 6px;
}


input {
  /* display: block;*/
   padding: 4px;
   border: 2px solid black;
   border-radius: 3px;
   font-size: 16px;
   text-align: center;
   max-width: 90%;
   margin: 0px auto;
 }
 .toggle_message {
  background: url("img/concert-1149979.jpg") top no-repeat fixed;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 6px;
  border: 5px groove white;
  color: black;
  text-shadow: 2px 2px lightblue;
 }

.box {
  border: 5px ridge lightblue;
  max-width: 40%;
  padding: 10px;
}

.artist_results_page {
   outline-color: invert;
  transition: margin-left 2s;
  border-radius: 6px;
   max-width: 70%;
   opacity: 6;
   padding: 10px;
   font-weight: 900;
   border: 7px ridge #007fAA;
   margin: 20px auto;
    background: url("img/0f71d0be5bcd6d09641e77c8200139a9--wallpaper-free-wallpaper-desktop.jpg") center no-repeat fixed;
  color: black;  
  max-height: 70%;
  /*display: none;*/
}

.event_results_page {
  /*display: none;*/
  //background: url("img/0f71d0be5bcd6d09641e77c8200139a9--wallpaper-free-wallpaper-desktop.jpg") center no-repeat fixed;;
  margin: 20px auto;

}

.preReg {
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px lightblue;
}

.instruct {
  max-width: 40%;
  text-shadow: 2px 2px black;
}

.SUpage {
   outline-color: invert;
  transition: margin-left 2s;
  border-radius: 6px;
   max-width: 30%;
   opacity: 6;
   padding: 10px;
   font-weight: 900;
   border: 7px ridge #007fAA;
   margin: 20px auto;
    background: url("img/pexels-photo-154147.jpeg") top no-repeat fixed;
  color: black;  
  padding: 10px;
}

.SIpage {
   outline-color: invert;
  transition: margin-left 2s;
  border-radius: 6px;
   max-width: 30%;
   opacity: 6;
   padding: 10px;
   font-weight: 900;
   border: 7px ridge #007fAA;
   margin: 20px auto;
    background: url("img/pexels-photo-154147.jpeg") top no-repeat fixed;
  color: black;  
padding: 10px;
}

.update_user_page {
   outline-color: invert;
  transition: margin-left 2s;
  border-radius: 6px;
   max-width: 40%;
   opacity: 6;
   padding: 10px;
   font-weight: 900;
   border: 7px ridge #007fAA;
   margin: 20px auto;
    background: url("img/pexels-photo-154147.jpeg") top no-repeat fixed;
  color: black; 
}

.delete_profile {
   width: 150px;
    height: 150px;
    background: url("img/pexels-photo-435840-small.jpg") #cdd1d3 top no-repeat fixed;
    -webkit-transition-property: width, height; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: width, height;
    transition-duration: 1.5s;
  color: black;
  text-shadow: none;
   /*background: url("img/pexels-photo-154147.jpeg") top no-repeat fixed;*/
    max-width: 20%;
   opacity: 6;
    border: 5px ridge lightblue;
   margin: 20px auto;
   padding ; 10px;
}

.delete_profile:hover {
    width: 200px;
    height: 250px;
}

.icon {
   background: url("img/rock-logo.psd");
   margin-left: 0 auto;
   margin-right: 0 auto;
   max-width: 90%; 
}


